

//$background-img: url('../dist/assets/img/nerd.jpg');
$bg-color: turquoise;
$section1-bg-color:#93a7f9;
$section2-bg-color: #ffcbc1 ;
$section3-bg-color: #3498db ;
$section4-bg-color: #2ecc71;
$blue: #00bff3;
$white: #fff;
$font-color:#001428;
$title-color: #07BEB8;
$background : #fff;

.menu-toggle{
    z-index: 100;
    top:2%;
    left:40%;
    position: fixed;
    display: none;
}


nav {
    width:100%;
    background-color: #00bff3/*#32E875 */;
    color: #fff;
    padding-bottom: 2%;
    position: relative;
    top: -40;
    /*
    position: fixed;
    z-index: 100;
    */

}
nav a{
    font-size:2em;
    // margin-left: 5%;
    margin-top:5%;
    text-decoration: none;
    color:$white;
    margin-top:3%;
}

nav a:hover{
    color:black;
}
.nav-title{
    margin-left:4%;
    margin-top: 4%;
    font-size: .5em;
    float: left;
}
.nav-title h1{
    margin-top: 0;
}
.nav-title:hover{
    color: #fff;
}
.nav-links{
    margin-left:25%;
}
.nav-container{
    width: 100%;
    height:20%;
    background-color: $blue;
}

.item{
    float: left;
    margin-left:5%;
    margin-top:6%;

}



body{
    background-color: $background;
    margin:auto;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    
}
a{
    text-decoration: none;
}
.btn{
    outline: none;
    background-color: $blue;
    color:$white;
    border-radius: 50px;
    padding:1% 4%;
    font-size: .7em;
}
.btn-intro{
    position: relative;
    margin-left:20%;
    margin-top:10%;
}
.btn-intro:nth-child(2)
.btn:hover{
    left:40%;
}

/*
body{
    animation-name:anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
*/
.title{
        color:$title-color;
        font-size: 3em;
        margin: auto;
        width:50%;
}
.header{
    font-size: 2.5em;
    width: 50%;
    align-content: center;
    display: inline-block;
    left: 30%;
    position: relative;
}




.clients{
    img{
        width:80%;
        margin-top: 10%;
        animation-name:  fadeIn;
        animation-duration: 2s;
    }
}
.clients-list-logo{
    background-color: #b7f2ff;
    border-radius: 100px;
}

.contact-header{
    color:#07BEB8;
    
}
.intro-header{
    color:#07BEB8;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 4s;

}
.intro-header h3:first-child{
    margin-top:90px;
}
.intro-header h3:nth-child(2){
    margin-top:20px;
}
.sub-text{
    color: #6d6565;
    font-size: .5em;
    text-align: center;
}

.subtitle{
    color:#fff;
    font-size:2em;

}
input{
    display: block;
    color: #e3e3e3;
}
input[type = submit]{
    color:#fff;
    background-color: #00bff3;
    outline: none;
    margin-top:5%;
}
input[type = submit]:active{
    color:black;
    background-color: #5ad5f6;
}
input:focus , textarea:focus{
    border-color: #00bff3;
    border-radius: 10px;
    border-style: solid;
    outline: none;
}
.section{
    color:#6d6565;;
    border-radius: 0% 30% 0% 0%;
    position: relative;
    width:80%;
    margin:auto;

    p{
        padding:1.2em;
        font-size:1.3em
    }
    ul{
       list-style-type: none;
    }
    img{
        width:70%;
    }
}

.img-main{
    width:80%;
     border-radius: 100px;
}
.text-about{
    font-size:1.2em;
}
.footer{
    width: 100%;
    background-color: $blue;
    margin-top: 10%;
}
.footer-logo{
    margin: auto;
    position: relative;
    width: 50%;

}
.footer-logo img{
    margin:2% 6%;
    
}

.img-about{
    float:left;
    width: auto;
}
.img-about img{
    border-radius: 100px;
}
p.project-description{
    font-size: 1.2em;
    margin: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


form{
    margin-left:30%;
    input{
        font-size: 2em;
    }
}
.contact-form{
    animation-name: moveUp;
    animation-duration: 1s;
    animation-delay:90ms;
    position: relative;
     bottom: 0px;
     intial: -400px;
}
textarea{
    resize: none;
    overflow: auto;
    width:500px;
    height: 300px;
    font-size:2em;
}
.container{
  clear: both;
//   background-color:#e5e5e5;
  width: 80%;
  height:60%;
  margin: auto;
  
}
.border{
    border-radius: 70px;
  border-style: solid;
  border-color: #00bff3;
  margin-left:5%;
  margin-right:5%;
}
.portfolio img:hover{
opacity: 0.5;
}
.container img{
    width: 50%;
}
.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    img {
        width: 80%;
        margin-left: 10px;
    }
}
.hide{ 
    display: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

///menu-toggle//////////
#menu-toggle{
width: 60px;
  height: 45px;
  position: relative;
//   margin: 50px auto;
margin-left:5%;
margin-top:0;
top:-10;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#menu-toggle span{
    display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background:$white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu-toggle span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#menu-toggle span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#menu-toggle span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#menu-toggle.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
#menu-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}



////////////animation//////
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes moveUp{
    0%{
        bottom: -400px;
    }
    100%{
        bottom: 0px;
    }
}
@keyframes box-move{
    0%{left:0px;top:0px;}
    80%{left:100px;top:100px;}
}
@media (max-width: 600px) {
    .title{
        margin-top: 20%;
    }
  .menu-toggle {
    display: block;
    clear: both;
    left:20%;
    
  }
  .nav-title{
      margin-top:10%;
      float: right;
      right: 2.4%;
      position: relative;
  }
  .nav-links{
    display: block;
    background-color: $blue;
    }
    .nav-links .item{
        background-color:$blue;
        clear: both;
        margin: 0;
        margin-top:5px;
        position: relative;
        width: 100%;
        left:0;
    }
    .nav-container{
        position: fixed;
        z-index: 100;
        float: left;
    }
    footer img{
        width: 30%;
    }
    #menu-toggle{
        margin-top:18%;
    }

}



/*
.box{
    position:relative;
    background-color:gray;
    width:100px;
    height:100px;
    transform:translateX(200px);
    //animation-name: box-move;
    animation-duration:3s;
    animation-delay:1s;
    animation-iteration-count:infinite;
    animation-direction:reverse;
}
.box:hover{
    transform:translateX(-200px);
    transition-property: transform;
    transition-duration: 2s;
}
*/
